html,
body {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #949AA7;
    background-color: #2C313C;
    height: 100%;
    width: 100%;
}


/* App Base */

.mainApp {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #343B48;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.topBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: #1B1D23;
    -webkit-user-select: none;
    user-select: none;
}

.topBar>.titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
}

.titleBar>.toggleButton {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
}

.titleBar>.toggleButton:hover {
    background-color: #272C36;
}

.titleBar>.toggleButton:active {
    background-color: #4F9FEE;
}

.titleBar>.title {
    font-size: 1.2rem;
    margin-left: 0.8rem;
    width: 100%;
    line-height: 2.5rem;
    -webkit-app-region: drag;
}

.titleBar>.topBtn {
    width: 30px;
    height: 29px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    transition: 0.2s;
    cursor: pointer;
}

.titleBar>.topBtn:hover {
    background-color: #343B48;
}

.titleBar>.topBtn:active {
    background-color: #4F9FEE;
}

.topBar>.titleBarBtns {
    display: flex;
    flex-direction: row;
    width: 9rem;
    height: 40px;
}

.titleBarBtns>.topBtn {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
}

.titleBarBtns>.topBtn:hover {
    background-color: #343B48;
}

.titleBarBtns>.topBtn:active {
    background-color: #4F9FEE;
}

.titleBarBtns>.closeBtn:hover {
    background-color: #F23202;
}

.mainApp>.contentArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.contentArea>.leftMenu {
    width: 21rem;
    height: 100%;
    background-color: #272C36;
    transition: 0.4s;
}

.contentArea>.contentPages {
    width: 100%;
    height: 100%;
    align-content: flex-start;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

.color-primary-universidad-bg {
    background-color: #FF6719;
}

.color-secondary-universidad-bg:hover {
    background-color: #FFFFFF;
}

.color-primary-universidad {
    color: #FFFFFF;
}